.mapa {
    box-shadow: 0 0 50px #4e8098;
    border: 1px solid black;
  }
  .con {
    text-align: center;
    word-spacing: 5px;
    text-transform: uppercase;
    letter-spacing: 5px;
  }
  .number {
    color: #fff;
  }
  .mediared {
    height: 40px;
    width: 40px;
  }
  